body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#templates {
  cursor: pointer;
}
div#templates {
  display: flex;
}
nav flex-column nav-tabs {
  position: relative !important;
}

.template__btn {
  color: #939496;
  background-color: transparent;
  outline: 0;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 350px;
  right: 2px;
}

.template__btn:hover {
  color: #b6b8b9;
}
